.drugDiscovery-container {
	display: flex;
	flex-direction: column;

	padding: 0px 60px;

	gap: 56px;
	display: flex;
}

.drugDiscovery-content-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.drugdiscovery-image-container {
	width: 43%;

	border-radius: 10px;
	border: 6px solid rgba(0, 0, 0, 0.1);
	justify-content: space-between;
}

.drugDiscovery-list {
	display: flex;
	flex-direction: column;
	width: 45%;
	gap: 36px;
	justify-content: flex-end;

	.drugDiscovery-list-item {
		display: flex;
		gap: 20px;
		justify-content: flex-end;
	}
	.drugDiscovery-list-icon {
		width: 36px;
		height: 36px;
	}

	.drugDiscovery-list-text {
		display: flex;
		flex-direction: column;
		gap: 12px;
	}

	.drugDiscovery-p-wrapper {
		text-align: left;
	}
}

@media only screen and (max-width: 1050px) {
	.drugDiscovery-container {
		padding: 0px 32px;
	}
	.drugDiscovery-content-container {
		flex-direction: column;
		gap: 48px;
	}

	.drugDiscovery-list {
		width: 100%;
	}

	.drugdiscovery-image-container {
		width: 100%;
	}
}

@media only screen and (max-width: 680px) {
	.drugDiscovery-container {
		padding: 0px 16px;
		text-align: left;
		justify-content: left;
		align-items: center;
	}
}
