@import "./animation.scss";

.featuresDev-container {
	display: flex;
	width: 100%;
	padding: 0px 0px 0px 60px;
	justify-content: space-between;

	@media screen and (max-width: 940px) {
		flex-direction: column;
		padding: 30px;
	}

	@media screen and (max-width: 370px) {
		padding: 0px 16px;
	}
}

.featuresDev-text-container {
	display: flex;
	flex-direction: column;
	max-width: 50%;

	h2 {
		margin-bottom: 48px;
	}

	@media screen and (max-width: 940px) {
		max-width: 100%;
	}
}

.featuresDev-cards-container {
	display: flex;
	padding: 24px 24px 24px 0px;
	align-items: flex-start;
	gap: 16px;
	align-self: stretch;
	@media screen {
		max-width: 700px;

		img {
			width: 25%;
		}
	}
}

.featuresDev-card-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	text-align: left;
	width: 100%;
}

.featuresDev-features-container {
	display: flex;
}

.featureDev-image-wrapper {
	overflow: hidden;
	height: 468px;
	justify-content: center;
	align-items: center;

	@media screen and (max-width: 640px) {
		height: auto;
	}
}
.featuresDev-image-mask {
	position: relative;
	z-index: 1;
	display: flex;

	height: 470px;

	@media screen and (max-width: 940px) {
		width: 100%;
		height: auto;
	}
}

.featuresDev-image {
	background-image: url("../../../Assets/AppStore/appStore-mockup.png");
	background-size: auto;
	background-repeat: no-repeat;
	width: 765px;
	height: 2048px;
	margin-left: 70px;

	animation: 40s ease-in-out scroll-stripe-featuresDev infinite;

	&:hover {
		animation-play-state: paused;
	}

	@media screen and (max-width: 940px) {
		width: 100%;
		height: auto;
	}
}
