@import "./animation.scss";

.appStore-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 60px;
}
.appStore-text-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 32px;
	width: 540px;
}

.appStore-p-wrapper {
	width: 540px;
}

.appStore-mockup-container {
	width: 660px;
	height: 497px;

	align-items: center;
	border-radius: 12px;
	border: 6px solid rgba(0, 0, 0, 0.1);
	overflow: hidden;
	justify-content: flex-start;
}

.appStore-mockup {
	background-image: url("../../../Assets/AppStore/appStore-mockup.png");
	background-size: auto;
	background-repeat: no-repeat;
	width: 660px;
	height: 2048px;
	animation: 40s ease-in-out scroll-stripe-appStore infinite;

	&:hover {
		animation-play-state: paused;
	}
}
