@import "../../Scss/variables";

.layout {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: auto;
}

.hero-outter-container {
	width: 100%;
	max-width: 1600px;
	margin-bottom: 160px;
	margin-top: 135px;

	@media only screen and (max-width: 1050px) {
		margin-top: 48px;
		margin-bottom: 48px;
	}
}

.appStore-outter-container {
	width: 100%;
	max-width: 1600px;
	margin-bottom: 180px;

	@media only screen and (max-width: 1050px) {
		margin-top: 48px;
		margin-bottom: 96px;
	}
}
.apps-outter-container {
	width: 100%;

	margin-bottom: 90px;
	@media only screen and (max-width: 1050px) {
		margin-top: 48px;
		margin-bottom: 48px;
	}
}

.drugDiscovery-outter-container {
	width: 100%;
	max-width: 1600px;
	margin-bottom: 160px;
	justify-content: center;

	@media only screen and (max-width: 1050px) {
		margin-top: 48px;
		margin-bottom: 96px;
	}
}

.biotune-outter-container {
	width: 100%;
	max-width: 1600px;
	margin-bottom: 90px;
	justify-content: center;

	@media only screen and (max-width: 1050px) {
		margin-top: 48px;
		margin-bottom: 48px;
	}
}

.imageR-outter-container {
	width: 100%;

	display: flex;
	justify-content: center;
	background-color: $light-grey;
}

.therapy-outter-container {
	max-width: 1600px;
	width: 100%;
	justify-content: center;
}

.partners-outter-container {
	width: 100%;
	max-width: 1600px;
	justify-content: center;
	padding-top: 90px;
	padding-bottom: 90px;

	@media only screen and (max-width: 1050px) {
		padding-top: 48px;
		padding-bottom: 48px;
	}
}

.contactUs-outter-container {
	width: 100%;
}
