.therapy-container {
	padding: 60px;
	display: flex;
	justify-content: space-between;
	gap: 92px;
}

.therapy-video-wrapper {
	width: 572px;
	height: 350px;
	overflow: hidden;
	border-radius: 23px;
	border: 12px solid rgba(0, 0, 0, 0.1);
}

.therapy-video {
	height: 370px;
}

.therapy-text-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	gap: 24px;
	width: 55%;
}

.therapy-p-wrapper {
	width: 100%;
}

.therapy-buttons-wrapper {
	margin-top: 8px;
}

@media only screen and (max-width: 1050px) {
	.therapy-container {
		padding: 60px 32px;
		display: flex;
		flex-direction: column;

		gap: 92px;
	}

	.therapy-video-wrapper {
		width: 97%;
	}

	.therapy-video {
		width: 100%;
	}

	.therapy-text-container {
		width: 100%;
	}
}

@media only screen and (max-width: 640px) {
	.therapy-container {
		padding: 48px 16px;
		display: flex;
		flex-direction: column-reverse;

		gap: 92px;
	}

	.therapy-video-wrapper {
		height: 280px;
		overflow: hidden;
		border-radius: 10px;
		border: 8px solid rgba(0, 0, 0, 0.1);
	}

	.therapy-video {
		width: auto;
		height: 100%;
	}

	.therapy-text-container {
		width: 100%;
	}
}
