@keyframes appear {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes scroll-stripe-a {
	from {
		transform: translateX(-40px);
	}

	to {
		transform: translateX(-2500px);
	}
}

// duration | timing-function | iteration-count | name
//animation: 2s ease infinite pulse;
