@import "./animation.scss";

.heroDev-container {
	display: flex;
	flex-direction: column;

	padding-top: 100px;
	gap: 109px;
	background-image: url("../../../Assets/Developers/HeroNav/Frame\ 629798.png");
	background-repeat: no-repeat;
	background-size: cover;

	button {
		margin-top: 32px;
	}

	@media screen and (max-width: 1000px) {
	}
}
.heroDev-text-container {
	padding: 0px 60px;
	margin: auto;
	max-width: 1600px;

	h1 {
		margin-bottom: 32px;
	}

	@media screen and (max-width: 1000px) {
		padding: 0px 30px;
	}

	@media screen and (max-width: 370px) {
		padding: 0px 16px;
	}
}

.heroDev-image-wrapper {
	display: flex;
	align-items: flex-end;
	overflow: hidden;

	img {
		margin-left: -40px;
		animation: 40s ease-in-out scroll-stripe-a infinite;
		animation-fill-mode: forwards;
	}
}
