.footer-container {
  display: flex;
  flex-direction: column;
  background-color: #1a1c2f;
  justify-content: flex-start;
  padding: 48px 60px 60px 60px;
  background-image: url("../../../Assets/Icons/prepair-lab.png");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: 100%;
  background-position-y: 100%;
}

.footer-content-container {
  display: flex;
  justify-content: flex-start;
  gap: 80px;
}

.footer-text-container {
  display: flex;
  flex-direction: row;
  gap: 120px;
  align-items: flex-start;
  justify-content: flex-start;
}
.footer-text-container p {
  color: #ffffff;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 125% */
  padding-bottom: 8px;
}

.footer-p-tittle {
  color: rgba(255, 255, 255, 0.7);
  font-family: "Inter";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  padding-bottom: 8px;
}

.footer-link-container {
  display: flex;
  flex-direction: column;
}
.footer-link-container a {
  color: #ffffff;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 125% */
  text-decoration: none;
  padding-bottom: 8px;
}
.footer-link-container a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.footer-emails-container {
  display: flex;
  flex-direction: column;
}

.footer-bottom-container {
  display: flex;
  bottom: 0px;
  left: 0px;
  height: fit-content;
  padding: 17px 60px 16px 60px;
  background-color: #5498ee;
  justify-content: space-between;
}
.footer-bottom-container p {
  color: #ffffff;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
}
.footer-bottom-container a {
  color: #ffffff;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  text-decoration: none;
}

.terms-container {
  display: flex;
  gap: 16px;
}
.terms-container a {
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.footer-logotext-container {
  display: flex;
  flex-direction: column;
  width: 215px;
}

.footer-logo {
  width: 115px;
}

@media only screen and (max-width: 1439px) {
  .footer-link-container {
    flex-direction: column;
  }
  .footer-content-container {
    gap: 60px;
  }
  .footer-text-container {
    display: flex;
    flex-direction: column;
    gap: 60px;
  }
}
@media only screen and (max-width: 1050px) {
  .footer-container {
    display: flex;
    flex-direction: column;
    background-color: #1a1c2f;
    justify-content: flex-start;
    padding: 48px 60px 32px 32px;
    background-image: none;
  }
  .footer-bottom-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 16px 32px 26px 32px;
    justify-content: space-between;
  }
}
@media only screen and (max-width: 759px) {
  .footer-container {
    padding: 80px 32px 80px 32px;
  }
  .footer-content-container {
    flex-direction: column;
  }
}
@media only screen and (max-width: 370px) {
  .terms-container {
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
  .terms-container a {
    width: 100%;
  }
  .footer-bottom-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 16px;
    justify-content: space-between;
  }
}/*# sourceMappingURL=style.css.map */